<div class="container">
  <br>
  <form action="" method="POST">

    <div class="row">
      <div class="col">
        <label for="code" class="">Code:</label>
        <input type="text" class="form-control " placeholder="Enter code" id="code">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="basic" class="">BASIC:</label>
        <input type="text" class="form-control " placeholder="Enter basic" id="basic">
      </div>
      <div class="col">
        <label for="hra" class="">Hra:</label>
        <input type="text" class="form-control " placeholder="Enter hra" id="hra">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="da" class="">DA:</label>
        <input type="text" class="form-control " placeholder="Enter da" id="da">
      </div>
      <div class="col">
        <label for="pa" class="">PA:</label>
        <input type="text" class="form-control " placeholder="Enter pa" id="pa">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="ea" class="">EA:</label>
        <input type="text" class="form-control " placeholder="Enter ea" id="ea">
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="total" class="">TOTAL:</label>
        <input type="text" class="form-control " placeholder="Enter total" id="total">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>

</div>
